*   {
    font-size: larger;
}

/* .boardSquare    {} */

#brownSquare   {background-color: brown; width: 5vw; height: 5vw; text-align: center; vertical-align: middle;}

#greySquare   {background-color: grey; width: 5vw; height: 5vw; text-align: center; vertical-align: middle;}
