*   {
    font-size: larger;
}

.boardSquare    {text-align: center; vertical-align: middle;}

#brownSquare   {background-color: brown; width: 5vw; height: 5vw;}

#greySquare   {background-color: grey; width: 5vw; height: 5vw;}
